

:root {
  --color-primary: #1f1b18;
  --color-secondary: #22333b;
  --color-accent-light: #a9927d;
  --color-accent-dark: #5e503f;
  --color-background: #f2f4f3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DMsans", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
}

/*** Default styles ****/
a {
  text-decoration: none;
  color: var(--color-accent-dark);
}

.button,
button,
input[type="submit"] {
  padding: .5rem 1rem;
  border: 1px transparent;
  border-radius: 8px;
  text-align: center;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.button__primary {
  background: var(--color-accent-dark);
  color: var(--color-background);
}

.button:hover {
  opacity: .8;
}



/** Page header **/
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
      width: 6rem;
      
  }

  @keyframes slidein {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  
img {
  animation: slidein 1s forwards;
}



  

  .navigation-list {
      display: flex;
      gap: 1rem;
      list-style: none;
      margin-right: 1rem;

      a:not(.active) {
          color: var(--color-primary);
          opacity: .8;
      }

      a.active {
          text-decoration: underline;
      }
  }
}

.content {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;

  .how {
      max-width: 40vw;
      margin: 0 auto;
      
  }
 

  table {
      margin-top: 2rem;
      width: 100%;
      border-collapse: collapse;

      tr {
          th {
              background: var(--color-secondary);
              color: var(--color-background);
          }

          td,
          th {
              border: 1px solid var(--color-primary);
              padding: 10px;
          }
      }
  }
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;

  div {
      display: inherit;
      flex-direction: inherit;

      input,
      textarea {
          background: var(--color-secondary);
          border: 1px solid var(--color-primary);
          color: var(--color-background);
          border-radius: 4px;
          padding: .4rem .8rem;
          flex-grow: 1;
      }
  }
}

/**********
* Work 
***********/




.grid-container {
  display: grid;
  width: 100%;
  gap: 1rem;

  .grid-item {
      padding: .8rem;
      background:#c7b2acad;
      border: none;
      border-radius: 10px;
      box-shadow: 3px 8px 12px #18181822;
      text-align: center; /* Centrage du texte */
      transition: 0.5s ease-in;
      font-variation-settings: "wght" 150;

  }

  .grid-item__title {
      color: var(--color-primary);
  }

  .grid-item__text {
      color: var(--color-primary);
      opacity: .8;
  }
}

.grid-item:hover {

  background-color: var( --grid-item-hover );
  font-variation-settings:  "wght" 700 ;
}

@media screen and (min-width: 600px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 960px) {
  #contact-form {
      width: 30rem;
  }

  .grid-container {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
  }

  .grid-item:nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
  }
}




@keyframes jumper {
	0% {
		transform: translateY(0px);
	}
	5% {
		transform: translateY(-10px);
	}
	10%, 50% {
		transform: translateY(0px);
	}
}


.wavy {
	position: relative;
	-webkit-box-reflect: below -8px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.wavy span {
	position: relative;
   /*I don't think it's necessary*/
	display: inline-block;
	animation: jumper 5s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));

}
 

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animated-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 7s steps(30,end ) forwards; /* Adjust duration as needed */ 
  text-align: center;
}

.stop-animation {
  animation-play-state: paused;
}

 


